:root {
    --fg-color: rgb(23, 23, 27);
    --bg-color: rgb(253, 255, 236);
    --bg-secondary-color: rgb(232, 254, 222);
    --link-color: rgb(3, 132, 218);
    --link-visited-color: rgb(143, 98, 121);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: rgb(221, 233, 243);
        --bg-color: rgb(23, 24, 27);
        --bg-secondary-color: rgb(23, 29, 48);
        --link-color: rgb(110, 194, 250);
        --link-visited-color: rgb(197, 163, 197);
    }

}

body {
    background: linear-gradient(90deg, var(--bg-color) 30%, var(--bg-secondary-color) 70%);
    color: var(--fg-color);
    font-size: 20px;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

h1 {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
}

a:visited img {
    background-color: var(--link-visited-color);
}

.github img {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--link-color);
    padding: 0.1rem;
    border-radius: 0.2rem;
    vertical-align: middle;
}

ul {
    padding: 0 1rem;
}

li {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}