---
layout: layouts/base.njk
---

<p><time datetime="{{ (page.date) | htmlDateString }}">{{ (page.date) | readableDate }}</time></p>

<article>
{{ content | safe }}
</article>

{% if last_modified_at %}
<p><time datetime="{{ (last_modified_at) | htmlDateString }}">Updated: {{ (last_modified_at) | readableDate }}</time></p>
{% endif %}